Поступило новое объявление
\---------------------------
Город: #{@renter.town}
Комнат: #{@renter.rooms}
Цена: #{@renter.amount}

Для просмотра более подробной информации перейдите по ссылке
#{renter_url(@renter)}
