%p
  %h2 Новый пользователь

  %div Имя: #{@user.name}
  %div Емайл: #{@user.email}

  %br/
  %div Дата регистрации: #{@user.created_at.to_s(:db)}
  %div= link_to('Перейти к списку пользователей для модерации и выставления роли', users_url)