%p Здравствуйте #{@resource.email}!
%p Кто то сделал за прос на изменение вашего пароля. Вы можете сделать это перейдя по ссылке внизу.
%p= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если вы не запрашивали письмо для изменения пароля, просто проигнорируйте это сообщение.

