%p Здравствуйте #{@resource.email}!
%p Ваша учетная запись заблокирована из за большого колличества неуспешных попытов войти.
%p Перейдите по ссылке ниже для разблокирования вашей учетной записи:
%p= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token)
